<h1>The <%= @test_passage.test.title %> <%= t('.was') %> <%= success_message(@test_passage) %>!</h1>

<h2>
  <%= t('.result') %>
  <span id="<%= success_message(@test_passage) %>">
    <%= @test_passage.success_rate * 100.0 %>%
  </span>
</h2>

<%= link_to t('common.back'), tests_path %>


