<h1><%= t('.passing') %> <%= @test_passage.test.title %> <%= Test.model_name.human %></h1>


<%= content_tag :div, class: 'progress' do |div| %>
  <%= content_tag :div, 
                  nil,
                  class: 'progress-bar',
                  data: { percent: @test_passage.progress_percentage} %>
<% end %>

<h2><%= Question.model_name.human %> <%= @test_passage.question_number %> <%= t('.of') %> <%= @test_passage.test.questions.size %></h2>

<b>
  <b><%= @test_passage.current_question.body %></b>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to t('common.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('common.next') %></p>
<% end %>
