<h1><%= @question.test.title %></h1>

<p>
  <strong><%= Answer.model_name.human %>:</strong>
  <%= @question.body %>
</p>

<h2><%= Answer.model_name.human.pluralize %></h2>

<%= link_to t('common.new'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('common.edit'), edit_admin_question_path %>
<%= link_to t('common.back'), admin_test_path(@question.test) %>

