<h1><%= t('common.new') %> <%= Test.model_name.human %></h1>

<p>
  <% @test %>
</p>

<%= render 'form' %>
<%= link_to t('common.new'), admin_tests_path %>
<%= link_to t('common.back'), admin_tests_path %>
