<hr>
<p><%= current_year %></p>
<p><%= TestGuru.author[:name] %></p>
<%= github_url(TestGuru.author[:username], TestGuru.title) %>
<p>
  <%= t('.description') %>
</p>
<%= 
  link_to t('.link'), 
  'http://thinknetica.com/', 
  target: :_blank 
%>
<hr>
