<h1>
  <%= link_to 'TestGuru', root_path %>
</h1>

<% if user_signed_in? %>
  <p class="nav user"><%= t('.greeting') %>,&nbsp<b><%= current_user.email %></b>&nbspGuru</p>

  <p class="nav user">
    <%= link_to t('common.login'), new_user_session_path %>
  </p>

  <p class="nav user">
    <%= link_to t('common.signup'), new_user_registration_path %>
  </p>
  
  <p class="nav user">
    <%= link_to t('common.logout'), destroy_user_session_path,
                          method: :delete,
                          data: { confirm: t('common.sure') } %>
  </p>
<% end %>
